<h1>Angular 8 Bootstrap Modal Popup Example</h1>
<div class="form-check form-switch">
    <input name="redirectOnly" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
    <label class="form-check-label" for="flexSwitchCheckChecked">Toujours</label>
</div>
<button type="button" class="btn btn-success btn-lg">
    Aller au dashboard
<div class="progress">
    <div id="progress_continue" class="progress-bar bg-success" role="progressbar" aria-label="Success example" style="width: 25%"
        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
</button>
<!--
<div class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Votre compte à été détecté en tant qu'administrateur, voulez-vous continuer vers le dashboard (espace
                    de gestion).</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non</button>
                <button type="button" class="btn btn-primary">Oui</button>
                <button type="button" class="btn btn-success">Toujours (A chaque connexion)</button>
            </div>
        </div>
    </div>
</div> -->
